<!DOCTYPE html>
<html>
  <head>
    <title>LibrarySystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <!-- Explicit Vite dev scripts to ensure react refresh preamble -->
  <script type="module" src="http://localhost:5173/@vite/client"></script>
  <script type="module" src="http://localhost:5173/vite-dev/entrypoints/application.jsx"></script>
  </head>

  <body>
    <div id="root"></div>
    <%= yield %>
  </body>
</html>
